@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("./assets/Montserrat.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #282424;
  min-height: 100vh;
}

.font-custom {
  font-family: "Montserrat";
}

.clip {
  z-index: 1;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.thin-strike {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}
.highlights-container {
  background-color: var(--color-very-dark);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 70vh;
  justify-content: center;
  overflow: hidden;
  padding: 30px;
  position: relative;
}

.svg-orange-500 {
  filter: invert(0.5) sepia(1) saturate(5) hue-rotate(-45deg);
}

.bpjv-color:hover {
  color: #ff6364;
}

.text-bpjv {
  color: #ff6364;
}

.bg-bpjv {
  background-color: #ff6364;
}

.highlights-container::after {
  background-color: rgba(38, 38, 38, 1);
  bottom: -1px;
  clip-path: polygon(0 100%, 100% 100%, 0 0);
  content: "";
  padding: 30px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

.success {
  background: #3ce577;
}

.error {
  background: #f53535;
}
