@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat';
    src: url('./assets/Montserrat.ttf');
  }
  
  .font-custom {
    font-family: 'Montserrat';
  }
  
.clip {
    clip-path: polygon(0 0, 100% 60%, 100% 100%, 0 100%);
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.thin-strike {
  text-decoration: line-through;
  text-decoration-thickness: 1px;
}